<div class="container">
  <div class="row">
    <h2>{{cartData.type}}</h2>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <mat-card class="example-card">
        <mat-card-title-group style="justify-content: center !important;">
          <!-- <mat-card-title>{{cartData.type}}</mat-card-title>
          <mat-card-subtitle>{{cartData.name}}</mat-card-subtitle> -->
          <img mat-card-sm-image [src]="cartData.filePath" mat-card-xl-image>
        </mat-card-title-group>
        <!-- <mat-card-content>
          longText
        </mat-card-content> -->
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6">
      <h3>{{cartData.name}}</h3>
      <p><label>Distance in KM = </label> {{distanceInKM | number : '1.2-2'}}</p>
      <p><label>Estimated delivery time in KM = </label> {{deliveryTime}}</p>
      <p><label>Price is = </label> {{priceWithFare|currency:"INR":"symbol"}}/-</p>
    </div>
  </div>
</div>

  <div class="container">
    <div class="form-group">
      <label>Enter address to find the price</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
        placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        #search>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>

    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>

  </div>
