<div class="container height-webkit" >
    <div class="row margin-bottom-20">
        <div class="col-md-8 col-lg-4 col-sm-10">
            <mat-card class="example-card">
                <mat-card-title-group class="margin-10">
                    <img class="margin-auto" mat-card-xl-image
                        src="../../assets/images/12-mm-crusher-aggregate-stone-500x500.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    <p>Aggregate</p>
                    <p>
                        <span>Rs 100 per sq feet</span>
                        <span class="float-right">
                            <button type="button" class="btn btn-primary" [routerLink]="['/product-details','aggregate']">Buy Now</button>
                        </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8 col-lg-4">
            <mat-card class="example-card">
                <mat-card-title-group class="margin-10">
                    <img class="margin-auto" mat-card-xl-image
                        src="../../assets/images/river-sand-500x500-e1573411329410.jpeg">
                </mat-card-title-group>
                <mat-card-content>
                    <p>Sand</p>
                    <p>
                        <span>Rs 100 per sq feet</span>
                        <span class="float-right">
                            <button type="button" class="btn btn-primary" [routerLink]="['/product-details','sand']">Buy Now</button>
                        </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8 col-lg-4">
            <mat-card class="example-card">
                <mat-card-title-group class="margin-10">
                    <img class="margin-auto" mat-card-xl-image src="../../assets/images/chamber-brick-500x500.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    <p>Brick</p>
                    <p>
                        <span>Rs 100 per sq feet</span>
                        <span class="float-right">
                            <button type="button" class="btn btn-primary" [routerLink]="['/product-details','brick']">Buy Now</button>
                        </span>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
  </div>